body {
  font-family: "Poppins", sans-serif;
  background-image: url("/media/landscape.jpg");
  filter: hue-rotate(341deg) saturate(112%);
  background-repeat: no-repeat;
  background-size: 2020px 1080px;
}
.glass {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(0px);
}
.app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

.weather {
  border: 1px solid #3e2e58;
  border-radius: 16px;
  box-shadow: 0px 8px 32px rgba(64, 52, 92, 0.107);
  color: #46185b;
  padding: 40px;
}
.weatherIcon {
  max-width: 140px;
  max-height: 120px;
}
.btn-primary {
  background-image: linear-gradient(150deg, #a286c0, #5e4e98 50%, #abc9e7);
  color: #fff;
  border: none;
  border-radius: 20px;
  border-color: #f24444;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
  transition: all 150ms ease-in;
  margin: 0 20px 0 10px;
  box-shadow: 1px 2px 4px rgba(137, 137, 155, 0.3);
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-image: linear-gradient(150deg, #a286c0, #443677 50%, #89a1b9);
  box-shadow: 0 0 18px #efe5ff;
}
.btn-secondary {
  background-image: linear-gradient(150deg, #a286c0, #403566 50%, #abc9e7);
  border: none;
  color: #f6f1f1;
  border-radius: 50px;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 20px;
  padding: 15px 15px;
  margin-left: 20px;
  transition: all 150ms ease-in;
  box-shadow: 1px 2px 4px rgba(137, 137, 155, 0.3);
}
.btn-secondary:hover {
  background-image: linear-gradient(150deg, #a286c0, #443677 50%, #89a1b9);
  box-shadow: 0 0 18px #efe5ff;
}

.searchBox {
  display: inline-block;
  height: 50px;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 15px 40px;
  font-size: 16px;
  border-width: 3px;
  border-color: 9368a6;
  background-color: f9f7fe;
  color: #3e2e58;
  border-style: hidden;
  border-radius: 13px;
  box-shadow: 1px 2px 14px rgba(137, 137, 155, 0.3);
}

.searchBox:focus {
  outline: none !important;
  border-color: #9355c2;
  box-shadow: 0 0 10px #e0fffb;
}

.searchBox::placeholder {
  font-weight: 400;
}
.weatherDescription {
  margin: 0 auto;
}
.weatherDescription h1,
ul {
  padding: 0;
  margin: 0;
}

.currentTemperature .active {
  color: #3e2e58;
  cursor: default;
}

.weatherDescription ul {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.weatherDescription h1 {
  font-family: "Righteous", cursive;
  line-height: 48px;
  margin: 20px 0 10px;
  margin-bottom: 20px;
  font-size: 58px;
  color: #432550;
}
.weatherDescription .temperature {
  font-size: 64px;
  color: #432550;
}
.weatherDescription .weatherUnit {
  font-size: 18px;
  position: relative;
  top: -90px;
  left: 90px;
}
.weatherDescription .svg {
  text-align: center;
}

.weatherDescription a {
  text-decoration: none;
}

.weatherForecast {
  text-align: center;
  padding: 30px 10px;
}

.forecastTemperatures {
  margin-top: 10px;
  font-size: 14px;
}
.forecast-weekday {
  padding: 10px auto;
  font-weight: 600;
  color: #543f77;
}
.forecast-temperature-max {
  font-weight: 300;
  color: #bf3b3b;
  font-weight: 600;
}
.forecast-temperature-max b {
  color: rgb(215, 215, 231);
}

footer {
  font-size: 12px;
  padding: 10px;
}
footer i {
  font-weight: bold;
  color: #363a77;
  font-style: normal;
}
